body {
    /*El cuerpo del html*/
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#root{
    /*El div id="root" del html*/
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: #fff;
    opacity: 0.9;
    width: 60%;
}
#resultadoDatos{
    /*El div id="resultadoDatos" del html*/
    border-top: 1px solid rgb(102, 74, 155);
    margin-top: 20px;
    padding-top: 10px;
}
.botones{
    /*Los button class="botones" del html*/
    padding: 8px 15px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}
.botones:hover {
    /*Los button class="botones" PSEUDOCLASE del html*/
    opacity: 0.6;
}
.azul{
    /*Los button class="azul" del html*/
    background: rgb(13, 10, 245);
    color: #fff;
}
.violeta{
    /*Los button class="violeta" del html*/
    background: rgb(102, 74, 155);
    color: #fff;
}
.textbox{
    /*Los textarea class="textbox" del html*/
    border: 1px  rgb(102, 74, 155) solid;
    border-radius: 3px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
}
.texto{
    /*Los textarea class="texto" del html*/
    resize: none;
    width: 80%;
    height: 100px;
}
#offset{
    /*El input id="offset" del html*/
    width: 50px;
}
